<!-- registration/profile.html -->

{% extends 'django_personal/index.html' %}

{% load static %}

{% block title %}
    <h2>
    {{ user.username }}
    </h2>
{% endblock title %}

{% block content %}
    <div id="username">
        <label>
            Username:
        </label>
    {{ user.username }}
    </div>
    <div>
        <img alt="" src="{% get_media_prefix %}{{ user.image }}">
    </div>
    <div>
    <label>
        You name:
    </label>
        {{ user.first_name }}
    </div>
    <div>
    <label>
        Your age:
    </label>
        {{ user.age }}
    </div>
    <div>
    <a href="{% url 'profile_edit' user.pk %}">Edit</a>
    <a href="{% url 'password_change' %}">Change password</a>
    <a href="{% url 'password_reset' %}">Forgot password</a>
        <a href="{% url 'subscription' user.pk %}">Upgrade to premium</a>
    </div>
{%  endblock content %}